# This file specifies the dependencies that are needed by this project and that would also be needed
# by another project that depends on this project. Specifically, this file is fed into
# `install_requires` in `setup.py`. This file should contain ranges of requirements, not pinned
# versions.  It should contain only direct dependencies, not transitive dependencies. When you
# update this file, run `tox -e pip-compile` to automatically update `requirements.txt`.
lxml>=3.4,<4
requests>=2.6,<3
